<div class="project">
  <div class="title-block">
    <h1>AR App</h1>
    <h4>2018</h4>
  </div>
  <div class="content-space">
    <div class="subtitle-text">
      <a>
        物体に当たると跳ね返る粒子を飛ばしたり、落書きしたりしてARを存分に楽しめるアプリ。<br>
        画面をタップすることで粒子を飛ばし、画面をなぞることで空間上に落書きできる。
        落書きで文字を書きその文字をタップすると、文字が認識されてその場にUIが表示される。
      </a>
    </div>

    <div class="yt">
      <iframe src="https://www.youtube.com/embed/bi6gX-Yehb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h2>デバイス</h2>
    <div class="text">
      <a>
        ・6D.aiのSDKに対応しているiPhone&nbsp;8以降の端末
      </a>
    </div>
    <h2>環境</h2>
    <div class="text">
      <div class="chips main-color">iOS 11.4</div>
      <div class="chips main-color">Unity 2018.2.17f1</div>
      <div class="chips main-color">6D.ai SDK</div>
    </div>
  </div>

  <div class="back-button">
    <button mat-button routerLink="/Project">
      プロジェクト一覧に戻る
    </button>
  </div>

</div>

<div class=space></div>
