<div class="project">
  <div class="title-block">
    <h1>Avatar2i</h1>
    <h4>2018</h4>
  </div>
  <div class="content-space">
    <div class="subtitle-text">
      <a>
        iPhoneを複数台用いてアバターになりきることができるiOSアプリ。
        3DモデルはVRMフォーマットに対応。<br>
        フェイストラッキングで表情を真似し、手に持った２つ目のスマホの位置で手を動かす。
      </a>
    </div>

    <div class="yt">
      <iframe src="https://www.youtube.com/embed/68_sWrP0qx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h2>デバイス</h2>
    <div class="text">
      <a>
        ・iPhone&nbsp;Xのようにフェイストラッキングに対応している端末<br>
        ・ARKit&nbsp;1.5以上に対応しているiPhone&nbsp;6s以降の端末
      </a>
    </div>
    <h2>環境</h2>
    <div class="text">
      <div class="chips main-color">iOS 11.3</div>
      <div class="chips main-color">ARKit 1.5</div>
      <div class="chips main-color">Unity 1028.2.2f1</div>
      <div class="chips main-color">Unity ARKit Plugin</div>
    </div>
  </div>

  <div class="back-button">
    <button mat-button routerLink="/Project">
      プロジェクト一覧に戻る
    </button>
  </div>

</div>

<div class=space></div>
