<!-- icon -->

<img src="assets/images/2020_Mokuichi147_circle.png" id="icon-img" />

<div class="side-space">
  <h2>ABOUT</h2>
  <div class="text">
    <p>
      2017年の7月ごろからプログラミングを始めた高専生。
      趣味はプログラムを書いたり、3Dプリンターを使い自作の3Dモデルを出力したり、アニメや配信者の動画を見たりすること。
    </p>
    <p>
      プログラミング言語はPython3をメインで使用。
      RaspberryPiではGPIOとカメラを使ってサーボモータを遠隔で操作するプログラムなどを書いている。
      また、ARやVRを体験できるiPhoneやiPadのアプリやWindowsで動作するソフトウェアなども気ままに作っている。
    </p>
  </div>
  <h2>TOOL</h2>
  <div class="text">
    <p class="tool">
      プログラミング
    </p>
    <mat-chip-list>
      <mat-chip>Visual Studio Code</mat-chip>
      <mat-chip>Unity</mat-chip>
      <mat-chip>Xcode</mat-chip>
      <mat-chip>Pythonista</mat-chip>
    </mat-chip-list>
    <p class="tool-space">
      モデリング
    </p>
    <mat-chip-list>
      <mat-chip>Blender</mat-chip>
      <mat-chip>Autodesk Fusion 360</mat-chip>
    </mat-chip-list>
    <p class="tool-space">
      その他
    </p>
    <mat-chip-list>
      <mat-chip>Cura</mat-chip>
    </mat-chip-list>
  </div>
  <h2>LINK</h2>
</div>

<div class="space"></div>
