black-color = #101010
white-color = #e0e0e0
accent-color = #302a63
gray-color = #787878

#icon-img
  margin-top 50px
  width 50%
  transform translateX(50%)
  @media screen and (min-width 660px)
    width 330px
    transform translateX(calc(50vw - 165px))

h1
  text-align center
  vertical-align bottom
  margin 0
  font-size 2.5rem
  line-height 3rem
  @media screen and (min-width 660px)
    text-align left
    margin 0 0 0 10%
    font-size 4rem
    line-height 4rem
    transform translateY(4.5rem)

h2
  text-align center
  font-size 2.5rem
  line-height 3rem
  margin 50px 0 0 0
  @media screen and (min-width 660px)
    text-align left
    margin 50px 0 0 10%
    font-size 3rem
    line-height 3rem
    transform translateY(3.7rem)

.side-space
  padding 0
  @media screen and (min-width 1000px)
    padding 0 10%

.text
  margin-top 10px
  font-size 1rem
  line-height 1.2rem
  padding 0 10%
  @media screen and (min-width 660px)
    font-size 1.2rem
    line-height 1.5rem
    padding 0 0 0 40%
    width 50%

.space
  height 90vh

.tool
  text-align center
  font-size 1.2rem
  @media screen and (min-width 660px)
    text-align left

.tool-space
  margin-top 20px

.chips
  height 2rem
  line-height 2rem
  display inline-flex
  font-weight bold
  padding-left 1rem
  padding-right 1rem
  margin-right 10px
  margin-top 10px
  border-radius 1vh

.link
  position relative
  color white-color
  //background-color white-color
  text-align center
  font-size 1.2rem
  font-weight bold
  height 2rem
  line-height 2rem
  width 100%
  @media screen and (min-width 660px)
    text-align left
    padding-left 1rem

.link-content
  height 2rem
  display inline-flex
  text-decoration none
  width 100%
  max-width 500px
  margin-bottom 15px
  margin-right 10px
  border-radius 1vh
  border-bottom 3px solid gray-color
  @media screen and (min-width 1000px)
    max-width calc(100% / 2 - 10px)

.link-content:hover
  transform translateY(3px)
  border-bottom 0px solid gray-color

#github
  background-color #333333

#twitter
  background-color #55acee

#note
  background-color #41c9b4

#instagram
  background-image linear-gradient(-135deg,#1400c8,#b900b4,#f50000)

.main-color
  color white-color
  background-color accent-color
