#icon-img
  margin-top 50px
  width 50%
  transform translateX(50%)

h1
  text-align center
  vertical-align bottom
  margin 0
  font-size 2.5rem
  line-height 3rem
  @media screen and (min-width 660px)
    text-align left
    margin 0 0 0 10%
    font-size 4rem
    line-height 4rem
    transform translateY(4.5rem)

h2
  text-align center
  font-size 2rem
  line-height 2rem
  margin 50px 0 0 0
  @media screen and (min-width 660px)
    text-align left
    margin 50px 0 0 10%
    font-size 3rem
    line-height 3rem
    transform translateY(3.7rem)

.side-space
  padding 0
  @media screen and (min-width 1000px)
    padding 0 10%

.text
  margin-top 10px
  font-size 1rem
  line-height 1.2rem
  padding 0 10%
  @media screen and (min-width 660px)
    font-size 1.2rem
    line-height 1.5rem
    padding 0 0 0 40%
    width 50%

.space
  height 90vh

.tool
  text-align center
  @media screen and (min-width 660px)
    text-align left

.tool-space
  margin-top 20px
  text-align center
  @media screen and (min-width 660px)
    text-align left
