<div class="project">
  <div class="title-block">
    <h1>SF GUI</h1>
    <h4>2017</h4>
  </div>
  <div class="content-space">
    <div class="subtitle-text">
      <a>
        画像やスライドバーなどのUIを、コードを一行追加するだけで簡単にSF風に表示する。<br>
        2020年8月現在最新であるiOS 13とiPadOS 13での動作も確認済み。
      </a>
    </div>

    <div class="yt">
      <img src="assets/images/sf_gui.jpg" />
    </div>

    <h2>デバイス</h2>
    <div class="text">
      <a>
        ・Pythonista 3が動作するiOS、iPad OSを搭載した端末
      </a>
    </div>
    <h2>環境</h2>
    <div class="text">
      <div class="chips main-color">iOS</div>
      <div class="chips main-color">iPad OS</div>
      <div class="chips main-color">Pythonista 3</div>
      <div class="chips main-color">Python 3</div>
    </div>
  </div>

  <div class="back-button">
    <button mat-button routerLink="/Project">
      プロジェクト一覧に戻る
    </button>
  </div>

</div>

<div class=space></div>
