<div class="project">
  <div class="title-block">
    <h1>AR Grasses</h1>
    <h4>2018</h4>
  </div>
  <div class="content-space">
    <div class="subtitle-text">
      <a>
        スマートグラスをRasPiを用いて作成したもの。
        RaspberryPi Zero Wから0.66インチの小型OLEDディスプレイに映像を映している。
        ディスプレイから単眼鏡を通してピントを合わせ、遠くをみていても画面がボケにくくなっている。
      </a>
    </div>

    <div class="yt">
      <img src="assets/images/ar_grasses.jpg" />
    </div>

    <h2>デバイス</h2>
    <div class="text">
      <a>
        ・GPIOを備えPython 3の使用できる端末
      </a>
    </div>
    <h2>環境</h2>
    <div class="text">
      <div class="chips main-color">Raspberry Pi Zero W</div>
      <div class="chips main-color">Raspbian OS</div>
      <div class="chips main-color">Python 3.6</div>
    </div>
  </div>

  <div class="back-button">
    <button mat-button routerLink="/Project">
      プロジェクト一覧に戻る
    </button>
  </div>

</div>

<div class=space></div>
