black-color = #101010
white-color = #e0e0e0

.projects-button
  display block
  margin-left auto
  margin-right auto
  width 90vw
  height 40px
  margin-top 5px

.project-bg
  width 100vw
  height calc(100vh - 60px)
  background-size cover
  background-position center center

.project
  animation-name projectpage_move
  animation-timing-function ease
  animation-duration 2.5s
  animation-fill-mode forwards
  button
    animation-name project_show
    animation-timing-function ease
    animation-duration 2.5s
    animation-fill-mode forwards

.title-block
  animation-name project_title_show
  animation-timing-function ease
  animation-duration 1s
  animation-fill-mode forwards

.side-space
  padding 0
  animation-name project_show
  animation-timing-function ease
  animation-duration 2.5s
  animation-fill-mode forwards
  @media screen and (min-width 1000px)
    padding 0 10%
  
.text
  margin-top 10px
  font-size 1rem
  line-height 1.2rem
  padding 0 10%
  @media screen and (min-width 660px)
    font-size 1.2rem
    line-height 1.5rem
    padding 0 0 0 40%
    width 50%
  
h1
  text-align center
  vertical-align bottom
  margin 0
  font-size 2.5rem
  line-height 3rem
  animation-name project_title_slide
  animation-timing-function ease
  animation-duration 0.6s
  animation-fill-mode forwards
  @media screen and (min-width 660px)
    font-size 4rem
    line-height 4rem

h2
  text-align center
  font-size 2rem
  line-height 2rem
  margin 50px 0 0 0
  @media screen and (min-width 660px)
    text-align left
    margin 50px 0 0 10%
    font-size 3rem
    line-height 3rem
    transform translateY(3.7rem)

h4
  text-align center
  vertical-align bottom
  margin 0
  font-size 1rem
  line-height 1.3rem
  animation-name subtitle_slide
  animation-timing-function ease-in-out
  animation-duration 0.6s
  animation-fill-mode forwards
  @media screen and (min-width 660px)
    font-size 1.5rem
    line-height 1.8rem


@keyframes projectpage_move
  0%
    transform translateY(30vh)
  70%
    transform translateY(30vh)
  100%
    transform translateY(0)

@keyframes project_show
  0%
    opacity 0
  70%
    opacity 0
  100%
    opacity 1

@keyframes project_title_show
  0%
    opacity 0
    transform rotate(180deg)
  5%
    opacity 1
  35%
    transform rotate(180deg)
  100%
    transform rotate(0deg)

@keyframes project_title_slide
  0%
    transform translateX(-30vw)
  100%
    transform translateX(0)

@keyframes subtitle_slide
  0%
    transform translateX(30vw)
  100%
    transform translateX(0)