<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer-px"></div>
  <span id="top-label">Mokuichi147</span>
  <div class="spacer"></div>

  <div *ngIf="small_menu">
    <mat-menu #appMenu="matMenu" yPosition="above">
      <button mat-menu-item routerLink="/Home">HOME</button>
      <button mat-menu-item routerLink="/Project">PROJECT</button>
      <button mat-menu-item routerLink="/About">ABOUT</button>
    </mat-menu>
    <button [matMenuTriggerFor]="appMenu" (click)="showMenu()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!small_menu">
    <button mat-button routerLink="/Home">HOME</button>
    <button mat-button routerLink="/Project">PROJECT</button>
    <button mat-button routerLink="/About">ABOUT</button>
  </div>

  <div class="spacer-px"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
