<div *ngIf="more == ''">
  <div [ngStyle]="{backgroundImage: project_bg_image}" class="project-bg">
    <div *ngFor="let project of projects">
      <button class="projects-button" mat-button (mouseover)="backgroundImage(project.path)" (click)="projectMore(project.title)">
        {{project.title}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="more == 'Avatar2i'" id="avatar2i">
  <div class="side-space">
    <h1>
      Avatar2i
    </h1>
    <div class="text">
      <a>
        hello world
      </a>
    </div>
  </div>
  <button (click)="projectMore('')">
    戻る
  </button>
</div>

<div *ngIf="more == 'AR App'">
  <button (click)="projectMore('')">
    戻る
  </button>
</div>

<div *ngIf="more == 'AR Grasses'">
  <button (click)="projectMore('')">
    戻る
  </button>
</div>

<div *ngIf="more == 'SF GUI'">
  <button (click)="projectMore('')">
    戻る
  </button>
</div>

<div *ngIf="more == 'Lunchbox'">
  <button (click)="projectMore('')">
    戻る
  </button>
</div>