/* You can add global styles to this file, and also import other style files */

black-color = #101010
white-color = #e0e0e0

.mat-typography
  color black-color
  background-color white-color
  @media (prefers-color-scheme: dark)
    color white-color
    background-color black-color
